@font-face {
  font-family: pokemon;
  src: url(pokemonfont.ttf);
}

img {
  margin: 0;
  padding: 0;
}

body {
  width: 1050px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pokemon;
  background-image: url(../images/background.jpg);
  background-size: 100%;
}

h3, p {
  margin: 0;
}

button {
  width: 30%;
  padding: 8px;
  border-radius: 8px;
  background: transparent;
  color: red;
  border: none;
  font-family: pokemon;
  font-size: 20px;
}

.logo {
  margin-top: 40px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.header-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

#canvas {
  border: 15px solid black;
  background-image: url(../images/canvasbg.jpg);
  background-size: 100%;
}

#score {
  height: 150px;
  width: 300px;
}

.scoring{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 50px;
  color: #E7D800;
  width: auto;

}

.high-scores {
  color: #f5f5dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.high-scores ol {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  letter-spacing: 4px;
}

#score-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #E7D800;
  height: 150px;
}

#score-form input {
  padding: 8px;
  text-align: center;
  font-family: "Futura-CondensedExtraBold", sans-serif;
  border-radius: 8px;
}

.controls {
  font-size: 18px;
  color: #f5f5dc;
  text-align: center;
}

.arrow {
  font-size: 32px;
  color: black;
}
